@charset "UTF-8";

body {
  font-family: "Lato";
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: bottom;
}

.title-font {
  font-family: "Raleway";
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.section-title {
  font-size: 24px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.bolt-icon {
  font-size: 40px;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  padding: 14px 12px;
  font-size: 12px;
  background-color: #74cfae;
  color: #fff;
  transition: all .3s;
}

.header-sp-menu {
  display: none;
}

.header-btn:hover {
  color: #333;
}

.main {
  padding-top: 70px;
}

/* theme */

.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  padding: 250px 0;
  text-align: center;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-subtitle {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

/* what */

.what {
  background-color: #74cfae;
}

.what-inner {
  padding-top: 50px;
  display: flex;
}

.what-img {
  width: 40%;
  text-align: center;
}

.what-text-box {
  width: 60%;
}

.what-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
}

.what-text {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
  word-spacing: 2px;
}

/* work */

.work {
  background-color: #f2f2f2;
}

.work-inner {
  padding: 60px 0 70px 0;
}

.work-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.work-list {
  margin-top: 40px;
  font-size: 0;
}

.work-list li {
  margin: 80px 0 0 100px;
  display: inline-block;
}

.work-list li:nth-child(-n+3) {
  margin-top: 0;
}

.work-list li:nth-child(3n+1) {
  margin-left: 0;
}

.work-list li a {
  opacity: 0.7;
  transition: .3s;
}

.work-list li a:hover {
  opacity: 1;
}

.email {
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.email-text {
  text-align: center;
  font-size: 20px;
  word-spacing: 2px;
  width: 54%;
}

.email-btn {
  margin-left: 90px;
  font-size: 12px;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  transition: .3s;
}

.email-btn:hover {
  color: #333;
}

/* skills */

.skills {
  background-color: #4e4e4e;
}

.skills-inner {
  padding: 70px 0 100px 0;
  text-align: center;
}

.skills-title {
  color: #fff;
}

.skill-list {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.skill-list li {
  margin-left: 180px;
}

.skill-list li:first-child {
  margin-left: 0;
}

.skill-item figcaption {
  font-size: 16px;
  line-height: 2;
  color: #fff;
  text-align: center;
}

/* sns */

.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  padding: 200px 0;
}

.sns-list {  
  justify-content: center;
  text-align: center;
  font-size: 0;
}

.sns-list li {
  display: inline-block;
  transition: all .3s;
}

.sns-list li a {
  padding: 25px 0;
  width: 185px;
}

.sns-list li i {
  color: #74cfae;
  font-size: 50px;
}

.sns-list li:hover {
  background-color: #fff;
}

/* footer */

.footer {
  width: 100%;
  background-color: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
  text-align: right;
}

.footer-text {
  color: #fff;
}


@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }

  /* what */

  .what-inner {
    display: block;
    padding-bottom: 25px;
  }

  .what-img {
    width: 100%;
  }

  .what-text-box {
    width: 100%;
    margin-top: 20px;
    padding-top: 0;
    text-align: center;
  }

  .what-text {
    width: 90%;
    display: inline-block;
  }

  /* work */

  .work-list li {
    display: block;
    margin: 0;
    text-align: center;
  }

  .work-list li:nth-child(3n+1) {
    margin-top: 80px;
  }

  .work-list li:first-child {
    margin-top: 0;
  }
 
  .email {
    margin-top: 80px;
    display: block;
    text-align: center;
  }

  .email-text {
    width: 90%;
    display: inline-block;
  }

  .email-btn {
    margin: 0;
    margin-top: 40px;
  }

  /* skill */

  .skill-list {
    display: block;
  }

  .skill-list li {
    margin: 88px 0 0;
  }

  .skill-list li:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 767px) {

  .header-btn {
    display: none;
  }

  .header-sp-menu {
    display: block;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .header-sp-menu-relative {
    position: relative;
    width: 25px;
    height: 20px;
  }

  .header-sp-menu-relative span {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #ddd;
    position: absolute;
  }

  .header-sp-menu-relative span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .header-sp-menu-relative span:nth-child(2) {
    top: 9px;
    left: 0;
  }
  .header-sp-menu-relative span:nth-child(3) {
    bottom: 0;
    left: 0;
  }

  .theme-inner {
    padding: 160px 0 130px 0;
  }

  .theme-title {
    font-size: 80px;
  }

  .theme-subtitle {
    margin-top: 20px;
  }

  /* work */

  .email-btn {
    font-size: 20px;
    padding: 18px 28px;
  }

  /* sns */

  .sns-inner {
    padding: 50px 15px;
    box-sizing: border-box;
  }

  .sns-list li {
    display: block;
  }

  .sns-list li a {
    width: 100%;
    padding: 40px 0;
  }
}